.login-body {
  display: flex;
  height: 100vh;
}

/* Bagian kiri (gambar) */
.left-side {
  flex: 0.9;
  background-size: cover;
  background-position: center;
}

/* Bagian kanan (form login) */
.right-side {
  flex: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px;
}

.login-container {
  width: 100%;
  max-width: 500px;
}

.login-container h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #1c1c1c;
  text-align: left;
  margin-left: 4px;
}

.login-container input {
  width: 100%;
  padding: 12px 14px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.login-container a {
  display: inline-block;
  font-size: 14px;
  color: #444;
  text-decoration: none;
  margin-bottom: 15px;
}

.login-container a:hover {
  text-decoration: underline;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #4c1f1f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-container button:hover {
  background-color: #3b1717;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.register-link a {
  color: #000;
  font-weight: 500;
}

@media (max-width: 768px) {
  .login-body {
    flex-direction: column;
  }

  .left-side {
    height: 35vh;
  }

  .right-side {
    height: 65vh;
    padding: 20px;
  }

  .login-container {
    max-width: 90%;
  }
}
